02_delete_resource_group/delete_resouce_group-workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_2": {
                "actions": {
                    "条件": {
                        "actions": {
                            "リソース_グループを削除": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                        }
                                    },
                                    "method": "delete",
                                    "path": "/subscriptions/@{encodeURIComponent('d79e0410-8e3c-4207-8d0a-1f7885d35859')}/resourcegroups/@{encodeURIComponent(items('For_each_2')?['name'])}",
                                    "queries": {
                                        "x-ms-api-version": "2016-06-01"
                                    }
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "contains": [
                                        "@items('For_each_2')?['name']",
                                        "okuyama"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@body('リソース_グループの一覧表示')?['value']",
                "runAfter": {
                    "リソース_グループの一覧表示": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "リソース_グループの一覧表示": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['arm']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/subscriptions/@{encodeURIComponent('d79e0410-8e3c-4207-8d0a-1f7885d35859')}/resourcegroups",
                    "queries": {
                        "x-ms-api-version": "2016-06-01"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "繰り返し": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "20"
                        ]
                    },
                    "timeZone": "Tokyo Standard Time"
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "20"
                        ]
                    },
                    "timeZone": "Tokyo Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "arm": {
                    "connectionId": "/subscriptions/d79e0410-8e3c-4207-8d0a-1f7885d35859/resourceGroups/az-logic-apps-example-rg/providers/Microsoft.Web/connections/arm",
                    "connectionName": "arm",
                    "id": "/subscriptions/d79e0410-8e3c-4207-8d0a-1f7885d35859/providers/Microsoft.Web/locations/japaneast/managedApis/arm"
                }
            }
        }
    }
}